.chatapp {
    font-family: 'Muli', 'Helvetica Neue', helvetica, arial;
    max-width: 760px;
    margin: 20px auto;
    overflow: hidden;
}

.message-list, .thread-list {
    border: 1px solid #ccf;
    font-size: 16px;
    height: 400px;
    margin: 0;
    overflow-y: auto;
    padding: 0;
}

.message-section {
    float: right;
    width: 65%;
}

.thread-section {
    float: left;
    width: 32.5%;
}

.message-thread-heading,
.thread-count {
    height: 40px;
    margin: 0;
}

.message-list-item, .thread-list-item {
    list-style: none;
    padding: 12px 14px 14px;
}

.thread-list-item {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.thread-list:hover .thread-list-item:hover {
    background-color: #f8f8ff;
}

.thread-list:hover .thread-list-item {
    background-color: #fff;
}

.thread-list-item.active,
.thread-list:hover .thread-list-item.active,
.thread-list:hover .thread-list-item.active:hover {
    background-color: #efefff;
    cursor: default;
}

.message-author-name,
.thread-name {
    color: #66c;
    float: left;
    font-size: 13px;
    margin: 0;
}

.message-time, .thread-time {
    color: #aad;
    float: right;
    font-size: 12px;
}

.message-text, .thread-last-message {
    clear: both;
    font-size: 14px;
    padding-top: 10px;
}

.message-composer {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    height: 5em;
    width: 100%;
    margin: 20px 0 0;
    padding: 10px;
}
