<!DOCTYPE html>
<html className="no-js" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta httpEquiv="x-ua-compatible" content="ie=edge" />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta name="description" content="react starter ki" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    </head>
    <body ontouchstart="">
        <div id="reactapp"></div>
    </body>
</html>
